@import "../../../scss/variables";
@import "../../../scss/_base";

.subscribe {
  position: relative;
  margin: 2rem 0;
  height: 600px;

  .content { 
    position: absolute;
    z-index: 1;
    top: 12rem;
    left: 9rem;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 2.5rem;
      font-family: $font-primary;
    }

    .input-container {
      display: flex;
      margin-top: 2rem;
      max-width: 35rem;
      border: 2.5px solid $primary-green-dark;

      .input-email {
        flex: 3;
        padding: 1.5rem;
        border: none;
        color: $primary-green-dark;
        font-size: 1.1rem;
        font-weight: bold;
      }

      .subscribe-btn {
        flex: 1.5;
        border: none;
        background: $primary-green-dark;
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;

        &:hover {
          background: $darkest-green;
        }
      }

    }
  }

  .ellipsis {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

/* mobile and tablets */
@media (max-width: 768px) {
  .subscribe {
    position: static;
    height: 200px;

    .content {
      position: static;

      .input-container {
        align-self: center;

        .subscribe-btn {
          padding: 0 2rem;
        }
      }
    }

    .ellipsis {
      display: none;
    }
  }
}