 @import '../../scss/variables';
 @import '../../scss/_base';

.btn {
    padding: 8px 20px;
    margin: 0 5px 0 5px;
    border-radius: 1px;
    outline: none;
    cursor: pointer;

    &:hover {
    background-color: $primary-green-light;
    padding: 5px 2px;
    transition: all 0.3s ease-out;
    color: $primary-green-dark;
    transition: 250ms;
    }   

    &--medium {
    background-color: $primary-green-light;
    padding: 5px 2px;
    border-radius: 4px;
    font-size: 18px;
    width: 18%;
    color: #f4f4f5;
    border: none;
    }
}
@media screen and (max-width: 1200px) {
    .btn {
        visibility: hidden;
    }
}