@import "./_variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: normal;
  font-size: $paragraph;
  color: $darkest-green;
  font-family: $font-secondary;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body.light-mode {
  background-color: #fff;
  color: $darkest-green;
  transition: background-color 0.3s ease;
}

body.dark-mode {
  background-color: $black;
  color: #dfdfdf;

  .dark-mode-toggle > button {
    color: #999;
    &:last-child {
      color: lightblue;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary, sans-serif;
}
