@import "../../../scss/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-weight: normal;
  font-size: 24px;
  color: $darkest-green;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}